* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

html {
  background: linear-gradient(
      45deg,
      rgba(65, 65, 65, 0.308),
      rgba(65, 65, 65, 0.308)
    ),
    url("/images/background.jpg") no-repeat center;
  background-size: cover;
  min-height: 100dvh;
}

body {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
